.todoitem {
  padding: 10px;
  margin: 10px 0;
  max-width: $todosWidth;
  display: flex;
  align-items: center;
  div {
    padding: 5px;
  }
  .delete,.checkmark {
    width: 14px;
    height: 14px;
    margin-right: 10px;
    background-size: cover;
    cursor: pointer;
  }
  .delete {
    background-image: url('../images/delete.png');
  }
  .checkmark {
    background-image: url('../images/check.png');
    &.done {
      visibility: hidden;
    }
  }
  .item {
    flex: 1;
    text-align: center;
    margin: 0 10px;
    word-wrap: break-word;
    max-width: 300px;
  }
  .done {
    text-decoration: line-through;
    color: #33cc33;
  }
  .todo-text {
    color: $text-color;
  }
}
