.app {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    opacity: 0.3;
    background-image: url('../images/retina_wood.png');
    background-repeat: repeat;
  }
}
