// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.header {
  font-family: 'Rubik';
  text-align: center;

  max-width: $todosWidth;
  margin-left: auto;
  margin-right: auto;

  padding: 3px;
  h1 {
    margin: 0;
    color: rgba(0,0,0,0.8);
  }
}
