// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.header {
  font-family: 'Rubik';
  text-transform: uppercase;
  text-align: center;
}
